In [2]:
import pandas as pd

In [19]:
pd.read_csv("../../data/small/cleansample.txt", sep=" ", names=["domain", "title", "ID", "accesstype", "dailyviews", "hourlyviews"])[::250].reset_index()

,index,domain,title,ID,accesstype,dailyviews,hourlyviews
0,0,aa.wikibooks,Main_Page,NaN,desktop,8,F8
1,250,af.wikipedia,11_Februarie,1891.0,desktop,1,M1
2,500,af.wikipedia,1739,745.0,desktop,1,F1
3,750,af.wikipedia,22_April,4061.0,desktop,3,A1K1W1

In [ ]:
pd.read_csv()